<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for k in f1 %}
    <table>
    <tr>
        <td>Username</td>
        <td>{{ k.Username }}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{ k.Address}}</td>
    </tr>
    <tr>
        <td>District</td>
        <td>{{ k.District}}</td>
    </tr>
    <tr>
        <td>State</td>
        <td>{{ k.State}}</td>
    </tr>


    </table>
{% endfor %}

</body>
</html>